<table id="${classname}Table"></table>
<div style="display: none;">
    <div id="${classname}TableTool" style="height:auto">
        <div style="padding:10px;">
            <form>
                #foreach($column in $columns)
                    #if(${column.attrname} !=${pk.attrname})
                        <span style="margin: 5px">
                            #if(${column.attrType}=='Date'||${column.attrType}=='Timestamp')
                                ${column.comments}段:<input name="${column.attrname}Start" class="easyui-datebox"
                                                           style="width:145px">至<input name="${column.attrname}End"
                                                                                       class="easyui-datebox"
                                                                                       style="width:145px">
                            #else
                                ${column.comments}:<input name="${column.attrname}" class="easyui-textbox"
                                                          style="width:145px">
                            #end
                        </span>
                    #end
                #end
                <a onclick="dj.model.list.query()" class="dj-btn"><i class="fa fa-search"></i>查询</a>
                <a onclick="dj.model.list.reset()" class="dj-btn"><i class="fa fa-reply"></i>重置</a>
            </form>
        </div>
        <div class="dj-table-btn-bar">
            <a onclick="dj.model.list.dialog()"><i class="fa fa-plus"></i>新增</a>
        </div>
    </div>
</div>
<script type="text/javascript">
            init({
                model: "list",//id会自动注册到dj.model.id中，方便其它页面进行调用
                data: {
                    editId: null,
                    table: $("#${classname}Table"),
                    toolId:"#${classname}TableTool",
                    dialogId:$.dj.guid(),
                    url:{
                    	query:"${classname}",
                    	del:"${classname}"
                    }
                },
                methods: {
                    query: function () {
                        this.table.datagrid("options").url = this.url.query;
                        this.table.datagrid("load", $(this.toolId + " form").serializeJson());
                    },
                    reset: function () {
                        $(this.toolId + " form").form("clear");
                        this.query();
                    },
                    del: function (id) {
                        var self = this;
                        $.dj.del(self.url.del,id, function () {
                            self.query();
                        });
                    },
                    dialog: function (id) {
                        var self = this;
                        if ($("#" + this.dialogId).length == 0) {
                            $("body").append("<div id='" + this.dialogId + "'></div>");
                        }
                        this.editId = id;
                        var dialogOption = {
                            title: "角色明细",
                            href: "page/sys/${classname}ListDialog.html",
                            width:500,
                            height:300,
                            shadow:false,
                            buttons: [{
                                iconCls: "icon-save",
                                text: '保存',
                                handler: function () {
                                    dj.model.dialog.save(self.editId);
                                }
                            },{
                                iconCls: "icon-close",
                                text: '关闭',
                                handler: function () {
                                    $("#" + self.dialogId).dialog("close");
                                }
                            }]
                        }
                        $("#" + this.dialogId).dialog(new dj.Template("dialog").setOption(dialogOption).render());
                    }
                },
                watch: {
                },
                mounted: function () {
                    var self = this;
                    var datagridOption = {
                        toolbar: this.toolId,
                        columns: [[
                        	#foreach($column in $columns)
                        		{ field: "${column.attrname}", title: "${column.comments}",width:50 },
                        	#end
                            {
                                field: "_operate", title: "操作", width: 80,  formatter: function (value, row, index) {
                                    return self.$getHtml("del","dj.model.list.del('" + row.${pk.attrname}
    +"')")+self.$getHtml("edit","dj.model.list.dialog('" + row.${pk.attrname}+"')");
                                }
                            }
                        ]]
                    };
                    this.table.datagrid(new dj.Template("datagrid").setOption(datagridOption).render());
                    this.query();
                }
            });


</script>